<mat-grid-list cols="1" class="home-header" rowHeight="590">
    <mat-grid-tile>
        <div class="myNameContain">
            <p class="my-name">I AM RAVINDRA</p>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus ea magni
                modi ratione hic autem
                perspiciatis illum quidem aspernatur. Nisi doloremque incidunt eveniet, placeat suscipit facilis
                corporis fuga rem?</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>