/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header .mat-figure{
    display: flex !important;
    justify-content: flex-end !important;
}
.matMenu{
    width: 100px !important;
    padding: 5px 5px 15px 15px;
}
